<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tvz.mc2.codeit" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_codeit"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tvz.mc2.codeit.GlavniIzbornik"
            android:label="@string/app_name"
            android:parentActivityName="tvz.mc2.codeit.Splash">
        </activity>
        <activity
            android:name="tvz.mc2.codeit.DragDropProba"
            android:label="@string/title_activity_drag_drop_proba"
            android:parentActivityName="tvz.mc2.codeit.GlavniIzbornik" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tvz.mc2.codeit.GlavniIzbornik" />
        </activity>
        <activity
            android:name="tvz.mc2.codeit.Splash"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
